services:
  postgres:
    image: postgres:latest
    container_name: talent-dev-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: Nyttpassword2

  meilisearch:
    image: getmeili/meilisearch:latest
    container_name: talent-dev-meilisearch
    ports:
      - "7700:7700"
    environment:
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY}
    volumes:
      - ./meili_data:/meili_data
